/* RESET */

html,
body,
div,
span,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
header,
main,
article,
footer,
section,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}


/* RESET */


/* ------------------------------------------------------------------------------------------- */


/* TAG STYLE */

html {
    background-image: url(image/BG_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    max-height: 100%;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {}

figcaption {}

img {}

a {}

h1 {
    margin: 75px 0;
    text-align: center;
    color: whitesmoke;
    font-size: 22pt;
    text-shadow: 3px 3px black;
}

main {
    margin: 0 10px;
}

article {}

section {}

div {}

ul {}

li {}

button {}

span {}

footer {}

nav {}


/* TAG STYLE */


/* ------------------------------------------------------------------------------------------- */


/* ID STYLE */

#cabecalho {
    position: relative;
    left: 40%;
}

#logo {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game__Container {}

#cardList {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

#interface {}

#play {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#resultado {}

#play-figcaption {
    color: whitesmoke;
    font-size: 18pt;
    text-shadow: 2px 2px black;
    margin: 10px;
}

#container__Resultado {}

#link__Kenzie {}

#link__Home {}


/* ID STYLE */


/* ------------------------------------------------------------------------------------------- */


/* CLASS STYLE */

.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.container {}

.card {
    margin: 20px;
    max-width: 100px;
    max-height: 300px;
}

.card__image {
    width: 100px;
    height: 100px;
}

.link {}

.textResultado {
    margin: 5px;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}


/* CLASS STYLE */


/* ------------------------------------------------------------------------------------------- */